.language-levels-content {
  //width: 100%;
  height: 100vh;
  padding-top: 1.5rem;
  border-radius: 10px;
  background-color: theme('colors.white');
  box-shadow: 8px 3px 22px theme('colors.gray-medium');
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  .level-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid theme('colors.teal');
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    margin-bottom: 2rem;
    max-width: 90%;
  }

  .creating-level-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid theme('colors.orange-strong');
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    margin-bottom: 2rem;
    max-width: 90%;
  }
}
