.app-container {
  display: flex;
  height: 100vh;
  background-color: theme('colors.gray-light');
  font-family: 'Lato', sans-serif;

  .sidebar {
    //width: 250px;
    //background-color: #2C3E50;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
  }

  .content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
  }
}


